In [4]:
import pandas as pd
import numpy as np

In [5]:
url_2019 = "201901-citibike-tripdata.csv"

In [6]:
df = pd.read_csv(url_2019)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [7]:
split1 = df["starttime"].str.rsplit(" ", n=1, expand = True)
df["startday"] = split1[0]
df["starttime"] = split1[1]
split2 = df["starttime"].str.rsplit(".", n=1,expand = True)
df["starttime"] = split2[0]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startday
0,320,00:01:47,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,2019-01-01
1,316,00:04:43,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,2019-01-01
2,591,00:06:03,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,2019-01-01
3,2719,00:07:03,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,2019-01-01
4,303,00:07:35,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,2019-01-01

In [8]:
df[df.gender!=0]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startday
0,320,00:01:47,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,2019-01-01
1,316,00:04:43,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,2019-01-01
2,591,00:06:03,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,2019-01-01
3,2719,00:07:03,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,2019-01-01
4,303,00:07:35,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,17:33:26,2019-01-31 17:38:17.8940,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,2,2019-01-31
967283,437,18:57:45,2019-01-31 19:05:02.4970,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3313.0,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,2,2019-01-31
967284,173,19:11:41,2019-01-31 19:14:34.3350,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3418.0,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,1,2019-01-31
967285,244,20:54:51,2019-01-31 20:58:55.3100,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3346.0,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,1,2019-01-31
967286,387,23:38:42,2019-01-31 23:45:09.4520,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,1,2019-01-31

In [9]:
df.to_csv("jan_data.csv")

In [12]:
url_2019_2 = "201902-citibike-tripdata.csv"
feb_df = pd.read_csv(url_2019_2)
feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [13]:
url_mar="201903-citibike-tripdata.csv"
mar_df=pd.read_csv(url_mar)
mar_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [14]:
url_apr="201904-citibike-tripdata.csv"
apr_df=pd.read_csv(url_apr)
apr_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1

In [15]:
url_may="201905-citibike-tripdata.csv"
may_df=pd.read_csv(url_may)
may_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1

In [16]:
url_jun="201906-citibike-tripdata.csv"
jun_df=pd.read_csv(url_mar)
jun_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [17]:
url_jul="201907-citibike-tripdata.csv"
jul_df=pd.read_csv(url_jul)
jul_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [18]:
url_aug="201908-citibike-tripdata.csv"
aug_df=pd.read_csv(url_aug)
aug_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [19]:
url_sep="201909-citibike-tripdata.csv"
sep_df=pd.read_csv(url_sep)
sep_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,1
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,0
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,0
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,1
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,1

In [20]:
data_df=pd.concat([jul_df, aug_df, sep_df], ignore_index=True)

In [21]:
data_df.dropna()
data_df[data_df.gender!=0]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970182,304,2019-09-30 23:59:04.2830,2019-10-01 00:04:08.8060,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,26456,Subscriber,1995,1
6970183,1764,2019-09-30 23:59:22.7670,2019-10-01 00:28:47.3180,3314.0,W 95 St & Broadway,40.793770,-73.971888,3161.0,W 76 St & Columbus Ave,40.780184,-73.977285,41516,Customer,1995,1
6970184,378,2019-09-30 23:59:27.9270,2019-10-01 00:05:46.5700,316.0,Fulton St & William St,40.709560,-74.006536,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,31124,Subscriber,1959,2
6970185,561,2019-09-30 23:59:29.1450,2019-10-01 00:08:50.8070,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,393.0,E 5 St & Avenue C,40.722992,-73.979955,30285,Customer,1998,1
6970186,311,2019-09-30 23:59:42.2520,2019-10-01 00:04:54.2320,3746.0,6 Ave & Broome St,40.724308,-74.004730,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,38290,Subscriber,1989,1

In [22]:
data_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [23]:
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [24]:
data_df.astype({'starttime':'datetime64', 'stoptime':'datetime64','tripduration': 'int32', 'start station id': 'float32', 'start station latitude': 'float32', 'start station longitude': 'float32', 'end station latitude': 'float32','end station longitude': 'float32','bikeid': 'int32', 'birth year': 'int32', 'gender': 'int32', 'end station id': 'float32'}).dtypes

tripduration                        int32
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                  float32
start station name                 object
start station latitude            float32
start station longitude           float32
end station id                    float32
end station name                   object
end station latitude              float32
end station longitude             float32
bikeid                              int32
usertype                           object
birth year                          int32
gender                              int32
dtype: object

In [25]:
new_data_df=data_df.drop(['stoptime', 'start station id', 'end station id', 'bikeid'], axis=1)

In [26]:
new_data_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,W 45 St & 6 Ave,40.756800,-73.982912,E 51 St & 1 Ave,40.754557,-73.965930,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,5 Ave & E 78 St,40.776321,-73.964274,W 82 St & Central Park West,40.782750,-73.971370,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,E 6 St & Avenue B,40.724537,-73.981854,India St & West St,40.731814,-73.959950,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,Harrison St & Hudson St,40.718710,-74.009001,Washington Pl & 6 Ave,40.732241,-74.000264,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,W 113 St & Broadway,40.805973,-73.964928,W 110 St & Amsterdam Ave,40.802692,-73.962950,Subscriber,1997,1

In [27]:
new_data_df=new_data_df[new_data_df.gender!=0]

In [28]:
new_data_df=new_data_df.replace({'gender': 1}, {'gender': 'Male'}, regex=True)

In [29]:
new_data_df=new_data_df.replace({'gender': 2}, {'gender': 'Female'}, regex=True)

In [30]:
new_data_df["age"]=2019-new_data_df["birth year"]

In [31]:
new_data_df

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,age
0,897,2019-07-01 00:00:00.1320,W 45 St & 6 Ave,40.756800,-73.982912,E 51 St & 1 Ave,40.754557,-73.965930,Subscriber,1966,Male,53
1,267,2019-07-01 00:00:05.1780,5 Ave & E 78 St,40.776321,-73.964274,W 82 St & Central Park West,40.782750,-73.971370,Customer,1996,Male,23
2,2201,2019-07-01 00:00:05.2130,E 6 St & Avenue B,40.724537,-73.981854,India St & West St,40.731814,-73.959950,Subscriber,1986,Male,33
3,1660,2019-07-01 00:00:08.6010,Harrison St & Hudson St,40.718710,-74.009001,Washington Pl & 6 Ave,40.732241,-74.000264,Subscriber,1988,Male,31
4,109,2019-07-01 00:00:12.1580,W 113 St & Broadway,40.805973,-73.964928,W 110 St & Amsterdam Ave,40.802692,-73.962950,Subscriber,1997,Male,22
...,...,...,...,...,...,...,...,...,...,...,...,...
6970182,304,2019-09-30 23:59:04.2830,Washington Pl & 6 Ave,40.732241,-74.000264,Gansevoort St & Hudson St,40.739448,-74.005070,Subscriber,1995,Male,24
6970183,1764,2019-09-30 23:59:22.7670,W 95 St & Broadway,40.793770,-73.971888,W 76 St & Columbus Ave,40.780184,-73.977285,Customer,1995,Male,24
6970184,378,2019-09-30 23:59:27.9270,Fulton St & William St,40.709560,-74.006536,Vesey Pl & River Terrace,40.715338,-74.016584,Subscriber,1959,Female,60
6970185,561,2019-09-30 23:59:29.1450,Mercer St & Bleecker St,40.727064,-73.996621,E 5 St & Avenue C,40.722992,-73.979955,Customer,1998,Male,21
6970186,311,2019-09-30 23:59:42.2520,6 Ave & Broome St,40.724308,-74.004730,Grand St & Elizabeth St,40.718822,-73.995960,Subscriber,1989,Male,30

In [32]:
new_data_df.to_csv("final_datav1.csv", encoding='utf-8', index=False)

In [33]:
new_data_df.loc[new_data_df["age"]>100]

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,age
447,818,2019-07-01 00:37:37.8650,W 50 St & 9 Ave,40.763605,-73.989180,W 21 St & 6 Ave,40.741740,-73.994156,Subscriber,1896,Male,123
7689,1654,2019-07-01 07:59:26.6480,Roebling St & N 4 St,40.714690,-73.957390,West Thames St,40.708347,-74.017134,Subscriber,1911,Female,108
9074,243,2019-07-01 08:14:40.1260,Fulton St & Broadway,40.711066,-74.009447,Broadway & Battery Pl,40.704633,-74.013617,Subscriber,1900,Male,119
9176,1151,2019-07-01 08:15:42.3040,W 21 St & 6 Ave,40.741740,-73.994156,Madison St & Clinton St,40.712690,-73.987763,Subscriber,1900,Male,119
12396,1446,2019-07-01 08:44:47.3110,Avenue C & E 18 St,40.730563,-73.973984,Broadway & Battery Pl,40.704633,-74.013617,Subscriber,1890,Female,129
...,...,...,...,...,...,...,...,...,...,...,...,...
6955217,87,2019-09-30 18:48:57.2970,7 Ave & Park Pl,40.677615,-73.973243,Berkeley Pl & 7 Ave,40.675147,-73.975232,Subscriber,1889,Male,130
6963221,389,2019-09-30 20:24:58.8440,E 2 St & Avenue A,40.723077,-73.985836,Cleveland Pl & Spring St,40.722104,-73.997249,Subscriber,1889,Female,130
6964783,376,2019-09-30 20:52:21.7890,W 41 St & 8 Ave,40.756405,-73.990026,Pershing Square North,40.751873,-73.977706,Subscriber,1900,Male,119
6966154,544,2019-09-30 21:22:09.9110,Mercer St & Spring St,40.723627,-73.999496,Clinton St & Grand St,40.715595,-73.987030,Subscriber,1889,Female,130
6967827,291,2019-09-30 22:05:46.2820,Norfolk St & Broome St,40.717227,-73.988021,E 2 St & Avenue A,40.723077,-73.985836,Subscriber,1889,Female,130